<div class="main" role="main">
  <div class="container">

    <div class="row">
	  <img
		class="app-icon"
		style="min-width: 400px;margin-left: auto;margin-right: auto;"
		height="auto"				
		src="images/BI.png"
	  />
	</div>
	
	<div class="row">
	  {% if site.marketing_header %}
	  <h2 class="marketing-header">{{ site.marketing_header }}</h2>
	  {% endif %}
	  
	  <p class="marketing-desc">{{ site.marketing_desc }}</p>
	  
	  <div class="download-buttons">
		
		{% if site.app.ios_id %}
		<a
		  class="download-btn btn btn-lg"
		  href="https://itunes.apple.com/app/id{{ site.app.ios_id }}?mt=8">
		  <i class="fa fa-apple fa-lg" aria-hidden="true"></i> App Store
		</a>
		{% endif %}

		{% if site.app.android_id %}
		<a
		  class="download-btn btn btn-lg"
		  href="https://play.google.com/store/apps/details?id={{ site.app.android_id }}">
		  <i class="fa fa-android fa-lg" aria-hidden="true"></i> Google Play
		</a>
		{% endif %}

		<div id="plusfriend-addfriend-button">
		  
		  <div class="panel-body">
			<a id="channel-add-button" href="#" onclick="void addChannel();">
			<img src="https://developers.kakao.com/assets/img/about/logos/channel/friendadd_small_yellow_rect_3X.png"/>
			</a>
			</div>
			</div>
			<script type='text/javascript'>
			  //<![CDATA[
				// Set JavaScript Key of current app.
				Kakao.init('9154accfe3ce6f5934b561eb525333af');
				// Create KakaoStory share button.
				function addChannel() {
				  Kakao.Channel.addChannel({
					channelPublicId: '_HxguXxb'
				  });
				}
			  //]]>
			</script>
	      </div>
       </div>
	</div>
	
	<div class="row">
		<center>
		   <iframe width="560" height="315" src="{{ site.app.video }}?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</center>
    </div>

  </div>
</div>

