<div class="main" role="main">
  <div class="container">
	<br>
    <div class="row">
	  <img
		style="max-width:70%; margin-left: auto;margin-right: auto;"
		src="images/BI.png"
	  />
	</div>
	<br><br><br>
	<div class="row">
			{% if site.marketing_header %}
	  <p style="color:#01aefb;font-size:min(5vw, 36px);padding-bottom:10px;">{{ site.marketing_header }}</p>
			{% endif %}

	  <p style="font-size:min(3.5vw, 26px)">{{ site.marketing_desc }}</p>
	  <p style="font-size:min(3.5vw, 26px)">{{ site.marketing_desc2 }}</p>
	  	<center>
			<table>
				<tr>
					{% if site.app.ios_id %}
					<td>
						<a href="https://apps.apple.com/kr/app/9m%ED%94%84%EB%A1%9C%EC%95%BC%EA%B5%AC/id1509651690">
							<img width=206 src="images/ios-pre.webp"/></a>
					</td>
					{% endif %}	
					<td width=15>  </td>			
					<td>
						<a href="https://play.google.com/store/apps/details?id={{ site.app.android_id }}">
						<img width=230 src="images/gg-pre.png"/>	
						</a>			  
					</td>
					<td>
						<div id="plusfriend-addfriend-button">
			
							<div class="panel-body">
								<a id="channel-add-button" href="#" onclick="void addChannel();">
								<img width=170 src="https://developers.kakao.com/assets/img/about/logos/channel/friendadd_small_yellow_rect_3X.png"/>
								</a>
							</div>
						</div>
						<script type='text/javascript'>
							//<![CDATA[
							// Set JavaScript Key of current app.
							Kakao.init('9154accfe3ce6f5934b561eb525333af');
							// Create KakaoStory share button.
							function addChannel() {
								Kakao.Channel.addChannel({
								channelPublicId: '_HxguXxb'
								});
							}
							//]]>
						</script>
					</td>
				</tr>
			</table>
		</center>
		<p style="font-size:min(2.5vw, 16px)">{{ site.marketing_desc3 }}</p>
	</div>
	<br>

	<div class="row">
	 <div class="col-sm-3"></div>
	 <div class="col-sm-6">
		<div class="video-container">
			<iframe
				src="{{ site.app.video1 }}?rel=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
			</iframe>
		</div>	
	  </div>
	  <div class="col-sm-3"></div>
    </div>
	<br><br>
	<div class="row">
	  	<div class="col-sm-3"></div>
		<div class="col-sm-6">
		   <div class="video-container">
			   <iframe
				   src="{{ site.app.video2 }}?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
			   </iframe>
		   </div>	
		</div>
		<div class="col-sm-3"></div>
	</div>
	<br><br>
	<div class="row">
	  	<div class="col-sm-3"></div>
		<div class="col-sm-6">
		   <div class="video-container">
			   <iframe
				   src="{{ site.app.video3 }}?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
			   </iframe>
		   </div>	
		</div>
		<div class="col-sm-3"></div>
	</div>
  </div>
</div>

